.slider-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.mySwiper {
  width: 100%;
  height: 100% !important;
}

.slide-content {
  position: relative;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: right;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, rgba(0,0,0,.2), rgba(0,0,0,.2)), linear-gradient(1turn, #000e17, transparent 50%), linear-gradient(133.05deg, #000, transparent 36.66%), linear-gradient(226.85deg, #000, transparent 43.12%);
}

.slide-text {
  position: relative;
  text-align: right;
  color: white;
  padding: 2rem;
  border-radius: 8px;
  z-index: 1;
  max-width: 700px;
  margin-top: 10%;
  width: 700px;
}

.slide-text span {
  background-color: #444;
}

.slide-text h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.slide-text p {
  margin-bottom: 1.5rem;
}

/* استایل پیش‌فرض نویگیشن */
.swiper-button-next,
 .swiper-button-prev {
  color: white;
  z-index: 10;
}

/* مخفی کردن نویگیشن در موبایل */
@media (max-width: 766px) {
  .mySwiper  .swiper-button-next,
  .mySwiper  .swiper-button-prev {
    display: none !important;
  }
}

/* استایل و موقعیت پیجینیشن */
.swiper-pagination {
display: flex;
width: 94%!important;
margin: auto;
margin-bottom: 3%;
}

.swiper-pagination-bullet {
  background: white;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background: #ff0000; /* رنگ دلخواه برای bullet فعال */
  opacity: 1;
}

/* ریسپانسیو برای موبایل */
@media (max-width: 766px) {
  .slider-container {
    height: 66.67vh;
  }

  .slide-text {
    padding: 1rem;
    width: 90%;
  }

  .slide-text h2 {
    font-size: 1.8rem;
  }


}


/* ریسپانسیو برای موبایل */
@media (max-width: 456px) {
    .slide-text svg{
        font-size: medium;
    }
    .slide-text {
        padding: 1rem;
        width: 100%;
      }
      }